<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <title>APPLICATION Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container mx-auto">
    <header class="mb-5">
      <%= render "layouts/header" %>
      <%= render "layouts/admin_navigation" %>
    </header>
    <main>
      <%= render Elements::FlashComponent.new %>
      <%= yield %>
    </main>
    <footer class="mt-5">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
