<!doctype html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <base href="<%= Rails.configuration.settings.base_url %>">
    <%= display_meta_tags site: "APP_NAME", og: {
      title: :title,
      site_name: :site,
    } %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="container mx-auto">
    <header class="mb-5">
      <%= render "layouts/header" %>
    </header>
    <main>
      <div class="my-3">
        <%= breadcrumbs style: :inline, display_single_fragment: true %>
      </div>

      <%= render Elements::FlashComponent.new %>
      <%= yield %>
    </main>
    <footer class="mt-5">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
